<mat-toolbar class="header mat-elevation-z4" color="primary">
        <span class="iespflix">
            <a routerLink="">
                <i class="material-icons">
                    home
                </i>
                home
            </a>
        </span>
        <span class="example-spacer ">
        </span>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="cadastrar()">Criar Conta</button>
            <button mat-raised-button color="primary" (click)="login()">Fazer Login</button>
      </div>
</mat-toolbar>